<!DOCTYPE html>
<html lang="pt-br">

<head>
  {{{_sections.head}}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>CodeLife</title>
</head>

<body>
  <nav class="l-menu-header">
    <div class="l-menu-nav-bar">
      <div class="l-menu-navbar">
        <div class="c-menu-logo">
          <a href="/" data-test-id="home">
            <img src="/img/logo.jpg" alt="logo do compet">
          </a>
        </div>
        <div class="c-menu-user">
          {{#if username}}
          <span>{{username}}</span>
          {{/if}}
          {{#unless username}}
          <a href="/login">Faça seu login</a>
          {{/unless}}
        </div>
      </div>
    </div>
    <div class="l-menu-nav-bar">
      <div class="l-menu-navbar">
        <div class="c-menu-item">
          <a href="/about" data-test-id="about">
            <p>about</p>
          </a>
        </div>
        <div class="c-menu-item">
          <a href="/cookieSort" data-test-id="cookieSort">
            <p>cookieSort</p>
          </a>
        </div>
        {{#if username}}
        <div class="c-menu-item">
          <a href="/auth/logout" data-test-id="logout">
            <p>logout</p>
          </a>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
  {{{body}}}
  {{#if flash}}
      <div class="c-flash_content c-flash-{{flash.type}}">
      <div class="c-progress-bar"></div>
        <h2>{{flash.intro}}</h2>
        <p style="text-align: center;">{{{flash.message}}}</p>
      </div>
  {{/if}}
  {{{_sections.scripts}}}
  <script src="scripts/modal.js"></script>
</body>

</html>